@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  background-color: #000; /* Pure Black */
  color: #fff; /* Pure White Text */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevents side-scrolling glitches */
}