@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: monospace, sans-serif; /* Monospace fits the brutalist vibe */
}

/* Base styles for standard elements */
h1, h2, h3 {
  font-weight: 800;
  letter-spacing: -0.05em;
}